<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        Processed
    </title>
</head>

<body>
    <h1>Processed</h1>

    <h2>With grids</h2>
    <div style="width: 1000px;">
        <img src="./processed/grided.png" alt="With grids" title="With grids"
            style="max-width: 100%; height:auto; width /***/:auto;">
    </div>

    <h2>Grids</h2>
    <div style="width: 1000px;">
        <img src="./processed/grid.png" alt="Grids" title="Grids"
            style="max-width: 100%; height:auto; width /***/:auto;">
    </div>

    <hr>
    <a href="/">Home</a>
</body>

</html>